/* Fonts */
@font-face {
  font-family: antonio-regular;
  src: url(../fonts/Antonio-Regular.ttf);
}
@font-face {
  font-family: antonio-light;
  src: url(../fonts/Antonio-Light.ttf);
}
@font-face {
  font-family: antonio-bold;
  src: url(../fonts/Antonio-Bold.ttf);
}
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  text-transform: uppercase;
  font-family: antonio-light, helvetica, arial, sans-serif;
  color: #8d8d8d;
}
body {
  background-color: #383838;
  padding: 0;
  margin: 0;
}
body.loginScreen {
  background: url(../images/people_bg.jpg);
  background-position: bottom right 23%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  top: 0;
}
div#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
div#messageBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 450px;
  clear: both;
  background: url(../images/bg.png);
  border-radius: 3px;
  border: solid 3px #8d8d8d;
  padding: 15px;
}
div#messageBox textarea {
  width: 100%;
  height: 75px;
}
div#messageBox div#messageButtons {
  text-align: center;
  margin-top: 25px;
}
div#messageBox div#messageButtons a {
  display: block;
  width: 100%;
  margin-top: 15px;
  color: #8d8d8d;
  text-decoration: none;
  padding: 9px;
  display: inline-block;
  border-radius: 3px;
  border: solid 2px #8d8d8d;
  font-size: 49px;
  letter-spacing: 69px;
  font-family: antonio-light, helvetica, arial, sans-serif;
}
div#messageBox div#messageButtons a:hover {
  background-color: rgba(56, 56, 56, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #c2bebe;
  border-color: #03F9AD;
}
div#connections {
  display: none;
}
div#innerCircle {
  padding-bottom: 80px;
}
div#innerCircle p {
  padding: 20px;
  font-size: 19px;
  text-transform: none;
}
div.container {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}
div#container {
  padding: 60px 0 0;
}
nav {
  background-color: #222;
  padding: 10px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-width: 1170px;
  margin: auto;
  z-index: 100;
  display: none;
  border-bottom: solid 1px #8d8d8d;
}
nav img.logo {
  height: 35px;
  vertical-align: middle;
  cursor: pointer;
}
nav a {
  color: #fff;
  vertical-align: sub;
}
nav a img {
  height: 35px;
}
nav a#simple-menu {
  line-height: 0;
}
div.connection {
  padding: 10px 5px 5px;
  border-bottom: 1px solid #8d8d8d;
  overflow: hidden;
}
div.connection img {
  display: inline-block;
  border-radius: 50%;
  float: left;
}
div.connection div.connectionInfo {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
}
div.connection div.connectionInfo p.connectionName {
  margin: 0;
  font-size: 27px;
  padding: 20px 0 0 10px;
  text-transform: none;
}
div.connection a {
  display: block;
  width: 65px;
  height: 65px;
  border: solid 2px #8d8d8d;
  border-radius: 50%;
  color: #8d8d8;
  float: right;
  text-decoration: none;
  font-size: 45px;
  text-align: center;
  margin-top: 5px;
  vertical-align: middle;
  transition: all 0.2s;
}
div.connection a:hover {
  background: #fff;
}
div.innerConnection {
  position: relative;
  padding: 10px 5px 5px;
  border-bottom: 1px solid #8d8d8d;
}
div.innerConnection img {
  display: inline-block;
  border-radius: 50px;
}
div.innerConnection div.innerConnectionInfo {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
}
div.innerConnection div.innerConnectionInfo p.innerName {
  margin: 0;
  font-size: 27px;
}
div.innerConnection img.innerStatusIcon {
  float: right;
  width: 80px;
}
div.innerConnection div.innerButtons {
  padding: 15px 0;
  text-align: center;
}
div.innerConnection div.innerButtons a {
  padding: 9px;
  display: inline-block;
  border-radius: 3px;
  border: solid 2px #8d8d8d;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  letter-spacing: 3px;
  margin: 0 2%;
}
div.innerConnection div.innerButtons a:hover {
  background-color: rgba(56, 56, 56, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #c2bebe;
  border-color: #03F9AD;
}
div#contactsNav {
  width: 100%;
  max-width: 1170px;
  background-color: #383838;
  position: fixed;
  border-top: 1px #8d8d8d solid;
  bottom: 0;
  text-align: center;
}
div#contactsNav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 49.5%;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-size: 27px;
  text-decoration: none;
  transition: all 0.3s;
  font-family: antonio-regular, helvetica, arial, sans-serif;
}
div#contactsNav a:hover {
  background-color: #222222;
  color: #8d8d8d;
}
div#contactsNav a.active {
  background-color: #ffffff;
  color: #383838;
}
div#setStatus {
  background: url(../images/bg.png);
  text-align: center;
}
div#setStatus .innerStatus,
div#setStatus .trueStatus {
  background: url(../images/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 200px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}
div#setStatus h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.3em;
  padding-top: 62px;
  letter-spacing: 3px;
  color: #222222;
}
div#setStatus h3 {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  color: white;
  text-align: center;
  width: 233px;
  font-size: 2.2em;
  letter-spacing: 2px;
  margin: 6px auto 0;
  text-transform: uppercase;
}
div#setStatus a {
  display: inline-block;
  width: 32%;
  padding: 20px 0 30px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  transition: all 0.3s;
}
div#setStatus a img {
  width: 100px;
  margin-bottom: 5px;
}
div#setStatus a#looking:hover,
div#setStatus a#lookingTrue.hover {
  color: #03F9AD;
}
div#setStatus a#interest:hover,
div#setStatus a#interestTrue.hover {
  color: #DCF908;
}
div#setStatus a#happy:hover,
div#setStatus a#happyTrue.hover {
  color: #F73C03;
}
div.signUpForm {
  width: 93%;
  max-width: 650px;
  margin: auto;
  text-align: center;
}
div.signUpForm h1 {
  letter-spacing: 3px;
}
div.signUpForm h2 {
  color: #c1bdbd;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
div.signUpForm input {
  width: 96%;
  padding: 10px;
  border-radius: 3px;
  background: transparent;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
div.signUpForm input[type="text"]:focus {
  color: #c2bebe;
  border: solid 3px #03F9AD;
  outline: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.signUpForm p {
  margin: 0;
}
div.signUpForm a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-top: 50px;
  transition: all 0.3s;
  border-radius: 3px;
  border: solid 3px #8d8d8d;
  text-decoration: none;
}
div.signUpForm a:hover {
  background-color: rgba(56, 56, 56, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #c2bebe;
  border-color: #03F9AD;
}
div.signUpForm a#signUpSubmit {
  letter-spacing: 27px;
  font-size: 37px;
  margin: 15px auto 50px;
}
div.signUpForm div.statusContainer {
  width: 100%;
  text-align: center;
  padding: 10px 0 20px;
}
div.signUpForm div.statusContainer a {
  width: 32%;
  display: inline-block;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 10px 0;
}
div.signUpForm div.statusContainer img {
  width: 50%;
}
div.signUpForm div.statusContainer a:hover {
  background-color: rgba(0, 0, 0, 0);
}
div.signUpForm div.statusContainer a#looking:hover,
div.signUpForm div.statusContainer a#lookingTrue.hover {
  color: #31eccb;
}
div.signUpForm div.statusContainer a#interest:hover,
div.signUpForm div.statusContainer a#interestTrue.hover {
  color: #eed609;
}
div.signUpForm div.statusContainer a#happy:hover,
div.signUpForm div.statusContainer a#happyTrue.hover {
  color: #ec7331;
}
div.signUpForm .top {
  border-bottom: solid 1px #8d8d8d;
}
img#profileImage,
div.connection img,
div.innerConnection img {
  filter: grayscale(100%);
  filter: url(#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}
section#profileWrap {
  width: 90%;
  margin: 0 auto;
}
img#profileImage {
  width: 125px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #8d8d8d;
  box-shadow: 6px 6px 17px 3px rgba(2, 33, 46, 0.3);
  -moz-box-shadow: 6px 6px 17px 3px rgba(2, 33, 46, 0.3);
  -webkit-box-shadow: 6px 6px 17px 3px rgba(2, 33, 46, 0.3);
}
