/* Fonts */
@font-face {
  font-family: antonio-regular;
  src: url(../fonts/Antonio-Regular.ttf);
}
@font-face {
  font-family: antonio-light;
  src: url(../fonts/Antonio-Light.ttf);
}
@font-face {
  font-family: antonio-bold;
  src: url(../fonts/Antonio-Bold.ttf);
}
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  font-family: antonio-light, helvetica, arial, sans-serif;
  color: #8d8d8d;
}
body {
  background-color: #383838;
  padding: 0;
  margin: 0;
}
div#connections {
  display: none;
  padding-bottom: 80px;
}
div#innerCircle {
  padding-bottom: 80px;
}
div.container {
  width: 100%;
  max-width: 1170px;
  margin: auto;
}
div#container {
  padding-top: 60px;
}
nav {
  background-color: #222;
  padding: 10px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-width: 1170px;
  margin: auto;
}
nav a {
  color: #fff;
  vertical-align: sub;
}
nav a img {
  height: 35px;
}
nav a#simple-menu {
  line-height: 0;
}
div.connection {
  padding: 10px 5px 5px;
  border-bottom: 1px solid #8d8d8d;
  overflow: hidden;
}
div.connection img {
  display: inline-block;
  border-radius: 50%;
  float: left;
}
div.connection div.connectionInfo {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
}
div.connection div.connectionInfo p.connectionName {
  margin: 0;
  font-size: 27px;
}
div.connection a {
  display: block;
  width: 80px;
  height: 80px;
  background: #8d8d8d;
  border-radius: 50%;
  color: #383838;
  float: right;
  text-decoration: none;
  font-size: 45px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s;
}
div.connection a:hover {
  background: #fff;
}
div.innerConnection {
  position: relative;
  padding: 10px 5px 5px;
  border-bottom: 1px solid #8d8d8d;
}
div.innerConnection img {
  display: inline-block;
  border-radius: 50px;
}
div.innerConnection div.innerConnectionInfo {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
}
div.innerConnection div.innerConnectionInfo p.innerName {
  margin: 0;
  font-size: 27px;
}
div.innerConnection img.innerStatusIcon {
  float: right;
  width: 80px;
}
div#contactsNav {
  width: 100%;
  max-width: 1170px;
  background-color: #383838;
  position: fixed;
  border-top: 1px #8d8d8d solid;
  bottom: 0;
  text-align: center;
}
div#contactsNav a {
  display: inline-block;
  width: 49.5%;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-size: 26px;
  text-decoration: none;
  transition: all 0.3s;
  font-family: antonio-bold;
}
div#contactsNav a:hover {
  background-color: #ffffff;
  color: #383838;
}
div#contactsNav a.active {
  background-color: #ffffff;
  color: #383838;
}
div#setStatus h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
  margin-top: 15px;
}
div#setStatus h3 {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  color: white;
  margin-top: 5px;
  text-align: center;
  width: 155px;
  font-size: 32px;
  margin: 5px auto 25px;
  text-transform: uppercase;
}
div#setStatus a {
  display: block;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  text-decoration: none;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  margin: 0;
}
div#setStatus a img {
  width: 75px;
  margin-bottom: 15px;
}
div#setStatus a#looking:hover,
div#setStatus a#looking.active {
  color: #fff;
  background-color: #31eccb;
}
div#setStatus a#interest:hover,
div#setStatus a#interest.active {
  color: #fff;
  background-color: #eed609;
}
div#setStatus a#happy:hover,
div#setStatus a#happy.active {
  color: #fff;
  background-color: #ec7331;
}
