/* Fonts */
@font-face {
  font-family: antonio-regular;
  src: url(../fonts/Antonio-Regular.ttf);
}
@font-face {
  font-family: antonio-light;
  src: url(../fonts/Antonio-Light.ttf);
}
@font-face {
  font-family: antonio-bold;
  src: url(../fonts/Antonio-Bold.ttf);
}
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  text-transform: uppercase;
  font-family: antonio-light, helvetica, arial, sans-serif;
  color: #8d8d8d;
}
body {
  background-color: #383838;
  padding: 0;
  margin: 0;
}
body.loginScreen {
  background: url(../images/people_bg.jpg);
  background-position: bottom right 23%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  top: 0;
}
div#blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
div#messageBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 350px;
  clear: both;
  background: url(../images/bg.png);
  border-radius: 3px;
  border: solid 3px #8d8d8d;
  padding: 15px;
}
div#messageBox textarea {
  height: 75px;
  width: 100%;
  height: 100px;
  font-size: 19px;
  text-transform: none;
}
div#messageBox div#messageButtons {
  text-align: center;
  margin-top: 25px;
}
div#messageBox div#messageButtons a {
  display: block;
  width: 31%;
  margin-top: 15px;
  color: #8d8d8d;
  text-decoration: none;
  padding: 9px;
  display: inline-block;
  border-radius: 3px;
  border: solid 2px #8d8d8d;
  font-size: 28px;
  letter-spacing: 17px;
  font-family: antonio-light, helvetica, arial, sans-serif;
}
div#messageBox div#messageButtons a.sender {
  width: 67%;
  margin-left: 2%;
}
div#messageBox div#messageButtons a:hover {
  background-color: rgba(56, 56, 56, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #c2bebe;
  border-color: #03F9AD;
}
div#connections {
  display: none;
}
div#connections input#searchInput {
  width: 82%;
  font-size: 15px;
  background: #222;
  padding: 3px 10px 2px 4px;
  margin: 10px 1%;
  letter-spacing: 1px;
}
div#connections input[type="text"]:focus {
  color: #c2bebe;
  background: #000;
  border: solid 3px #03F9AD;
  outline: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div#connections a#searchSubmit {
  padding: 2px 10px;
  display: inline-block;
  border-radius: 3px;
  border: solid 2px #8d8d8d;
  text-decoration: none;
  font-size: 17px;
  width: 15%;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}
div#connections a#searchSubmit:hover {
  background-color: rgba(56, 56, 56, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #c2bebe;
  border-color: #03F9AD;
}
div#innerCircle {
  padding-bottom: 80px;
}
div#innerCircle p {
  padding: 20px;
  font-size: 19px;
  text-transform: none;
}
div.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}
div#container {
  padding: 55px 0 0;
}
nav {
  background-color: #222;
  padding: 10px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  z-index: 100;
  display: none;
  border-bottom: solid 1px #8d8d8d;
}
nav img.logoTie {
  height: auto;
  vertical-align: bottom;
  cursor: pointer;
  width: 20px;
  float: left;
  margin-top: 5px;
  position: relative;
  z-index: 10;
  display: none;
}
nav img.logo {
  height: auto;
  vertical-align: bottom;
  cursor: pointer;
  width: 175px;
  float: left;
  margin-top: 5px;
  position: relative;
  z-index: 10;
}
nav a {
  color: #fff;
  vertical-align: sub;
}
nav a img {
  height: 35px;
}
nav a#simple-menu {
  line-height: 0;
  position: relative;
}
div.connection {
  padding: 10px 5px 5px;
  border-bottom: 1px solid #8d8d8d;
  overflow: hidden;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */

}
div.connection img {
  display: inline-block;
  border-radius: 50%;
  float: left;
  margin-left: 1%;
}
div.connection div.connectionInfo {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
}
div.connection div.connectionInfo p.connectionName {
  margin: 0;
  font-size: 27px;
  padding: 20px 0 0 10px;
  text-transform: none;
}
div.connection a {
  padding: 9px;
  display: inline-block;
  border: solid 2px #8d8d8d;
  border-radius: 3%;
  font-size: 17px;
  width: 25%;
  letter-spacing: 3px;
  margin-top: 15px;
  float: right;
  text-decoration: none;
  text-align: center;
}
div.connection a:hover {
  color: #c2bebe;
  border-color: #03F9AD;
}
div.innerConnection {
  position: relative;
  padding: 10px 5px 5px;
  border-bottom: 1px solid #8d8d8d;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */

}
div.innerConnection img {
  display: inline-block;
  border-radius: 50px;
  margin-left: 9%;
}
div.innerConnection div.innerConnectionInfo {
  display: inline-block;
  padding-left: 10px;
  vertical-align: top;
}
div.innerConnection div.innerConnectionInfo p.innerName {
  margin: 0;
  font-size: 27px;
}
div.innerConnection img.innerStatusIcon {
  float: right;
  width: 80px;
  margin-right: 9%;
}
div.innerConnection div.innerButtons {
  padding: 15px 0;
  text-align: center;
  display: none;
}
div.innerConnection div.innerButtons a {
  padding: 9px;
  display: inline-block;
  border-radius: 3px;
  border: solid 2px #8d8d8d;
  text-decoration: none;
  font-size: 17px;
  width: 25%;
  letter-spacing: 3px;
  margin: 0 2%;
}
div.innerConnection div.innerButtons a:hover {
  background-color: rgba(56, 56, 56, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #c2bebe;
  border-color: #03F9AD;
}
div#contactsNav {
  width: 100%;
  max-width: 1400px;
  background-color: #383838;
  position: fixed;
  border-top: 1px #8d8d8d solid;
  bottom: 0;
  text-align: center;
}
div#contactsNav a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 49.5%;
  margin: 0;
  padding: 15px 0;
  text-align: center;
  font-size: 27px;
  text-decoration: none;
  transition: all 0.3s;
  font-family: antonio-regular, helvetica, arial, sans-serif;
}
div#contactsNav a:hover {
  background-color: #222222;
  color: #8d8d8d;
}
div#contactsNav a.active {
  background-color: #ffffff;
  color: #383838;
}
div#setStatus {
  background: url(../images/bg.png);
  text-align: center;
}
div#setStatus .innerStatus {
  background: url(../images/globalbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 200px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #222222;
}
div#setStatus .trueStatus {
  background: url(../images/innercircleHead.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #222222;
}
div#setStatus h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 0.9em;
  padding-top: 35px;
  letter-spacing: 3px;
  color: #c2bebe;
}
div#setStatus h3 {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  color: white;
  text-align: center;
  width: 275px;
  font-size: 3.3em;
  letter-spacing: 2px;
  margin: 6px auto 0;
  text-transform: uppercase;
}
div#setStatus a {
  display: inline-block;
  width: 32%;
  padding: 20px 0 30px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  transition: all 0.3s;
}
div#setStatus a img {
  width: 100px;
  margin-bottom: 5px;
}
div#setStatus a#looking:hover,
div#setStatus a#lookingTrue:hover {
  color: #03F9AD;
}
div#setStatus a#interest:hover,
div#setStatus a#interestTrue:hover {
  color: #DCF908;
}
div#setStatus a#happy:hover,
div#setStatus a#happyTrue:hover {
  color: #F73C03;
}
div.signUpForm {
  width: 93%;
  max-width: 650px;
  margin: auto;
  text-align: center;
}
div.signUpForm h1 {
  letter-spacing: 3px;
}
div.signUpForm h2 {
  color: #c1bdbd;
  letter-spacing: 3px;
  margin-bottom: 5px;
}
div.signUpForm input {
  width: 96%;
  padding: 10px;
  border-radius: 3px;
  background: transparent;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
div.signUpForm input[type="text"]:focus {
  color: #c2bebe;
  border: solid 3px #03F9AD;
  outline: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.signUpForm p {
  margin: 0;
}
div.signUpForm a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-top: 50px;
  transition: all 0.3s;
  border-radius: 3px;
  border: solid 3px #8d8d8d;
  text-decoration: none;
}
div.signUpForm a:hover {
  background-color: rgba(56, 56, 56, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #c2bebe;
  border-color: #03F9AD;
}
div.signUpForm a#signUpSubmit {
  letter-spacing: 27px;
  font-size: 37px;
  margin: 15px auto 50px;
}
div.signUpForm div.statusContainer {
  width: 100%;
  text-align: center;
  padding: 10px 0 20px;
}
div.signUpForm div.statusContainer a {
  width: 32%;
  display: inline-block;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 10px 0;
}
div.signUpForm div.statusContainer img {
  width: 50%;
}
div.signUpForm div.statusContainer a:hover {
  background-color: rgba(0, 0, 0, 0);
}
div.signUpForm div.statusContainer a#looking:hover,
div.signUpForm div.statusContainer a#lookingTrue:hover {
  color: #31eccb;
}
div.signUpForm div.statusContainer a#interest:hover,
div.signUpForm div.statusContainer a#interestTrue:hover {
  color: #eed609;
}
div.signUpForm div.statusContainer a#happy:hover,
div.signUpForm div.statusContainer a#happyTrue:hover {
  color: #ec7331;
}
div.signUpForm .top {
  border-bottom: solid 1px #8d8d8d;
}
img#profileImage,
div.connection img,
div.innerConnection img {
  filter: grayscale(10%);
  filter: url(#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}
div.connection img:hover,
div.innerConnection img:hover {
  filter: grayscale(10%);
  filter: url(#greyscale);
  filter: gray;
  -webkit-filter: grayscale(0.3);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
section#profileWrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
section#profileWrap .wrapperSmall {
  max-width: 600px;
  margin: 0 auto;
}
section#profileWrap .about {
  background: url(../images/peeps.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  text-align: center;
  margin-bottom: 40px;
}
section#profileWrap .about img#profileImage {
  width: 115px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #8d8d8d;
  box-shadow: 6px 6px 17px 3px rgba(2, 33, 46, 0.3);
  -moz-box-shadow: 6px 6px 17px 3px rgba(2, 33, 46, 0.3);
  -webkit-box-shadow: 6px 6px 17px 3px rgba(2, 33, 46, 0.3);
  position: relative;
  bottom: -38px;
}
section#profileWrap .personalInfo {
  text-align: center;
}
section#profileWrap .personalInfo #profileName {
  color: #c2bebe;
  font-size: 33px;
  letter-spacing: 5px;
  margin: 15px 0 0;
  font-family: antonio-bold, helvetica, arial, sans-serif;
}
section#profileWrap .personalInfo #profileProfession {
  font-family: antonio-regular, helvetica, arial, sans-serif;
  font-size: 21px;
  letter-spacing: 5px;
  margin: 0;
}
section#profileWrap .personalInfo #profileLocation {
  font-family: antonio-light, helvetica, arial, sans-serif;
  font-size: 19px;
  letter-spacing: 5px;
  margin: 0;
}
section#profileWrap h3 {
  text-align: center;
  font-size: 19px;
  padding: 15px 0 0;
  margin-bottom: 0;
  letter-spacing: 7px;
  border-top: solid 1px #8d8d8d;
}
section#profileWrap .profileStatus {
  text-align: center;
  width: 50%;
  float: left;
}
section#profileWrap .profileStatus h2 {
  color: #c2bebe;
  margin-bottom: 0;
  font-size: 27px;
  line-height: 20px;
  font-family: antonio-regular, helvetica, arial, sans-serif;
}
section#profileWrap .profileStatus img {
  width: 125px;
  height: auto;
}
section#profileWrap .editButton {
  padding: 20px 0;
  text-align: center;
  clear: both;
}
section#profileWrap .editButton a {
  padding: 7px;
  display: inline-block;
  border-radius: 3px;
  border: solid 2px #8d8d8d;
  text-decoration: none;
  font-size: 13px;
  width: 160px;
  letter-spacing: 7px;
  margin: 0 2%;
  cursor: pointer;
}
section#profileWrap .editButton a:hover {
  background-color: rgba(56, 56, 56, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #c2bebe;
  border-color: #03F9AD;
}
section#editProfile .editWrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
section#editProfile .editWrap input {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  background: transparent;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
section#editProfile .editWrap input[type="text"]:focus {
  color: #c2bebe;
  border: solid 3px #03F9AD;
  outline: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
section#editProfile .editWrap div.statusContainer {
  width: 100%;
  text-align: center;
  padding: 0 10%;
}
section#editProfile .editWrap div.statusContainer a {
  width: 32%;
  display: inline-block;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 10px 0;
  text-decoration: none;
}
section#editProfile .editWrap div.statusContainer img {
  width: 50%;
}
section#editProfile .editWrap div.statusContainer a:hover {
  background-color: rgba(0, 0, 0, 0);
}
section#editProfile .editWrap div.statusContainer a#looking:hover,
section#editProfile .editWrap div.statusContainer a#lookingTrue:hover {
  color: #31eccb;
}
section#editProfile .editWrap div.statusContainer a#interest:hover,
section#editProfile .editWrap div.statusContainer a#interestTrue:hover {
  color: #eed609;
}
section#editProfile .editWrap div.statusContainer a#happy:hover,
section#editProfile .editWrap div.statusContainer a#happyTrue:hover {
  color: #ec7331;
}
section#editProfile .editWrap div.statusContainer img {
  width: 75px;
}
section#editProfile .editWrap div.statusContainer h3 {
  text-align: center;
  margin: 10px 0;
  color: #c2bebe;
  font-size: 21px;
  letter-spacing: 5px;
}
section#editProfile .editWrap div.statusContainer p {
  text-align: center;
}
section#editProfile .editWrap div.statusContainer a#editProfileSubmit {
  padding: 7px;
  display: inline-block;
  border-radius: 3px;
  border: solid 2px #8d8d8d;
  text-decoration: none;
  font-size: 15px;
  width: 160px;
  letter-spacing: 7px;
  margin: 30px 2%;
  text-align: center;
}
section#editProfile .editWrap div.statusContainer a#editProfileSubmit:hover {
  background-color: rgba(56, 56, 56, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #c2bebe;
  border-color: #03F9AD;
}
section#editProfile .editWrap div.divider {
  border-top: solid 1px #8d8d8d;
}
a#sendThisUserMessage {
  padding: 9px;
  display: block;
  border-radius: 3px;
  border: solid 2px #8d8d8d;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
  letter-spacing: 3px;
  margin: 0 2%;
  text-align: center;
  cursor: pointer;
}
a#sendThisUserMessage:hover {
  transition: all 0.3s ease-in-out;
  color: #c2bebe;
  border-color: #03F9AD;
}
h2#navHeader {
  position: inherit;
  width: 96%;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 200px) and (max-width: 500px) {
  div#innerCircle {
    padding-bottom: 69px;
  }
  div#container {
    padding: 44px 0 0;
  }
  nav {
    height: 45px;
  }
  nav img.logo {
    display: none;
  }
  nav img.logoTie {
    height: auto;
    width: 25px;
    margin: -4px 0 0 5%;
    display: block;
  }
  nav a {
    color: #fff;
    vertical-align: sub;
  }
  nav a img {
    height: 25px;
  }
  nav a#simple-menu {
    line-height: 0;
  }
  h2#navHeader {
    font-size: 21px;
  }
  a#sendThisUserMessage {
    font-size: 17px;
    width: 80%;
    letter-spacing: 17px;
    margin: 0 auto;
  }
  div.connection {
    padding: 10px 5px 5px;
  }
  div.connection img {
    display: inline-block;
    border-radius: 50%;
    float: left;
    margin-left: 1%;
    width: 60px;
  }
  div.connection div.connectionInfo {
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
  }
  div.connection div.connectionInfo p.connectionName {
    font-size: 17px;
    padding: 20px 0 0 5px;
  }
  div.connection a {
    padding: 5px;
    display: inline-block;
    border: solid 2px #8d8d8d;
    border-radius: 3%;
    font-size: 0.7em;
    width: 18%;
    letter-spacing: 1px;
    margin: 0px 1% 0 0;
    float: right;
    line-height: 14px;
    text-decoration: none;
    text-align: center;
  }
  div.connection a:hover {
    color: #c2bebe;
    border-color: #03F9AD;
  }
  section#profileWrap {
    background: url(../images/bg.png);
    height: 100%;
    opacity: 0.6;
  }
  section#profileWrap .about {
    background: url(../images/peeps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    text-align: center;
    margin-bottom: 35px;
  }
  section#profileWrap .about img#profileImage {
    width: 115px;
    height: auto;
    bottom: -38px;
  }
  section#profileWrap .personalInfo {
    text-align: center;
  }
  section#profileWrap .personalInfo #profileName {
    font-size: 23px;
    letter-spacing: 3px;
    margin: 5px 0 0;
    font-family: antonio-bold, helvetica, arial, sans-serif;
  }
  section#profileWrap .personalInfo #profileProfession {
    font-family: antonio-regular, helvetica, arial, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0;
  }
  section#profileWrap .personalInfo #profileLocation {
    font-family: antonio-light, helvetica, arial, sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    margin: 0;
  }
  section#profileWrap h3 {
    text-align: center;
    font-size: 13px;
    padding: 7px 0 3px;
    margin-bottom: 0;
    letter-spacing: 7px;
    border-top: solid 1px #8d8d8d;
  }
  section#profileWrap .profileStatus {
    text-align: center;
    width: 50%;
    float: left;
  }
  section#profileWrap .profileStatus h2 {
    color: #c2bebe;
    margin: 5px;
    font-size: 21px;
    font-family: antonio-regular, helvetica, arial, sans-serif;
  }
  section#profileWrap .profileStatus img {
    width: 60px;
    height: auto;
  }
  section#profileWrap .profileStatus p#profileTrueDesc,
  section#profileWrap .profileStatus p#profileGlobalDesc {
    margin: 0;
  }
  section#profileWrap .editButton {
    padding: 0px 0 10px;
  }
  section#profileWrap .editButton a {
    padding: 7px;
    display: inline-block;
    border-radius: 3px;
    border: solid 2px #8d8d8d;
    text-decoration: none;
    font-size: 13px;
    width: 160px;
    letter-spacing: 7px;
    margin: 15px 2%;
  }
  div#innerCircle p {
    padding: 10px;
    font-size: 17px;
  }
  div.connection img,
  div.innerConnection img {
    width: 60px;
    height: auto;
  }
  div.innerConnection {
    position: relative;
    padding: 10px 5px 5px;
  }
  div.innerConnection img {
    margin-left: 1%;
  }
  div.innerConnection div.innerConnectionInfo {
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
  }
  div.innerConnection div.innerConnectionInfo p.innerName {
    margin: 0;
    font-size: 27px;
  }
  div.innerConnection img.innerStatusIcon {
    float: right;
    width: 60px;
    margin-right: 1%;
  }
  div.innerConnection div.innerButtons {
    padding: 15px 0;
    text-align: center;
    display: none;
  }
  div.innerConnection div.innerButtons a {
    padding: 7px;
    font-size: 17px;
    width: 29%;
  }
  div.innerConnection div.innerButtons a:hover {
    background-color: rgba(56, 56, 56, 0.4);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    color: #c2bebe;
    border-color: #03F9AD;
  }
  div#messageBox {
    width: 90%;
    height: 300px;
    padding: 10px;
  }
  div#messageBox h1 {
    font-size: 27px;
    letter-spacing: 7px;
    text-align: center;
  }
  div#messageBox textarea {
    height: 75px;
    width: 100%;
    height: 100px;
    font-size: 15px;
  }
  div#messageBox div#messageButtons {
    text-align: center;
    margin-top: 25px;
  }
  div#messageBox div#messageButtons a {
    width: 31%;
    margin-top: 0;
    color: #8d8d8d;
    text-decoration: none;
    padding: 9px;
    display: inline-block;
    border-radius: 3px;
    border: solid 2px #8d8d8d;
    font-size: 19px;
    letter-spacing: 6px;
  }
  div#messageBox div#messageButtons a.sender {
    width: 67%;
    margin-left: 2%;
  }
  div#connections {
    display: none;
  }
  div#connections input#searchInput {
    width: 69%;
    font-size: 13px;
    background: #222;
    padding: 3px 10px 2px 4px;
    margin: 3px 0 5px 8px;
  }
  div#connections input[type="text"]:focus {
    color: #c2bebe;
    background: #000;
    border: solid 2px #03F9AD;
    outline: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  div#connections a#searchSubmit {
    padding: 1px 10px 2px;
    display: inline-block;
    border-radius: 3px;
    border: solid 2px #8d8d8d;
    text-decoration: none;
    font-size: 15px;
    width: 80px;
    letter-spacing: 3px;
    margin: 8px 0 5px;
  }
  div#setStatus .innerStatus {
    height: 125px;
  }
  div#setStatus .trueStatus {
    height: 125px;
  }
  div#setStatus h2 {
    font-size: 0.8em;
    padding-top: 15px;
    letter-spacing: 1px;
  }
  div#setStatus h3 {
    font-size: 2.3em;
    letter-spacing: 3px;
    margin: 6px auto 0;
    text-transform: uppercase;
    width: 209px;
  }
  div#setStatus a {
    display: inline-block;
    width: 32%;
    padding: 7px 0 10px;
    line-height: 15px;
    font-size: 15px;
  }
  div#setStatus a img {
    width: 50px;
    margin-bottom: 5px;
  }
}
